nav#main-navbar{
  display: block;
  background-color: blue;
}

div#navbar-container{
  overflow: hidden;
  width: 100%;
}

div#navbar-container ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  float:left;
  position: relative;
  left: 50%;
}
div#navbar-container ul li{
  float:left;
  position:relative;
  right:50%;
}
#navbar-container #onpage a{
  text-decoration: underline overline;
}

div#navbar-container ul li a{  
 
  display: block;
  text-decoration: none;
  color:white;
  float:left;
  padding: 10px 20px;
}

#navbar-container ul li a:hover{
  background-color: #000;
}

#onpage{
  text-decoration: underline overline;
}

#sidebar{
  background-color: red;
  position: fixed;
  right:0%;
  width: 20%;
  height:100%;
  text-align: center;
}

#sidebar-container ul{
  text-decoration: none;
  padding: 0;
  list-style-type: none;
}

#sidebar-container ul li a{
  display:block;
  color: #fff;
  padding: 15px 0;
  text-decoration: none;
}

#sidebar-container ul li a:hover{
  background-color: #000;
}